[Unit]
Description=tmux server
After=default.target

[Service]
Type=forking
ExecStart=/usr/bin/tmux start-server
ExecStop=/usr/bin/tmux kill-server

[Install]
WantedBy=default.target
